logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
WS_dist/**/*.js
WS_dist/**/*.map
WS_dist/**/*.html
app/components
typings
/build
tmp
.DS_Store
.floo
.flooignore
dist
bower_components
.idea
