@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Belgrano|Quando);

body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  font-family: Open Sans;
  color: #202020;
  font-size: 0.750em;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;


.main {
  flex: 1;
  display: flex;
}


.container {
  display: flex;
  flex: 1;
  flex-direction: row;

  .content {
    overflow: auto;
    flex: 1;
  }
  .sidebar {
    background: #fefefe;
    border-left: 1px solid #ddd;
    width: 300px;
  }
}

.footer {
  border: 1px solid #dadada;
  background: #fff;
  height: 35px;
  padding-top: 7px;
  padding-left: 10px;
  overflow: hidden;
  strong {
    font-size: 10px;
    line-height: 20px;
  }
  .github {
    img {
      height: 20px;
      margin-left: 10px;
    }
  }
  ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    li {
      list-style-type: none;
      float: left;
      margin: 0 5px;
      a {
        font-family: Open Sans;
        text-transform: uppercase;
        font-size: 12px;
        color: #333;
        padding: 10px 10px;
        &:hover {
          text-decoration: none;
          background-color: #efefef;
          padding: 10px 10px;
        }
      }
    }
  }
}
  header {
    height: 52px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: block;
    border-bottom: 2px solid #ddd;

    .logo {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .logo-wrapper {
      margin-left: 20px;
    }

    .navigation {
      float: left;
      margin-left: 15px;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          a {
            color: #666;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            height: 34px;
            min-width: 30px;
            margin-top: 18px;
            display: block;
            float: left;
            margin-right: 20px;
            cursor: pointer;
            transition: all .3s ease;
            border-bottom: 2px solid #00b9ee;
            &.disabled {
              cursor: not-allowed;
            }
            &:hover {
              text-decoration: none;
              height: 32px;
            }
            &.active {
              height: 32px;
            }
          }
        }
      }
    }

    .logo {
      // float: right;
      float: left;
      margin-right: 20px;
      margin-top: 9px;
      span {
        font-family: Open Sans;
        font-size: 24px;
        &.a {
          color: #444;
          text-transform: uppercase;
          font-weight: 700;
        }
        &.b {
          color: #00b9ee;
          text-transform: uppercase;
          font-weight: 200;
        }
      }
    }
  }
}