html(ng-app="entertain.io.app")
head
  meta(charset="UTF-8")
  title EntertainIO

  link(href='styles/vendor.css', rel='stylesheet')
  link(href='styles/app.css', rel='stylesheet')
  script(type="text/javascript" src='scripts/commonjs-require.js')
  script(type='text/javascript', src='scripts/socket.io.js')
  script(type="text/javascript" src='scripts/vendor.js')
body
  .app
    header.header
      .logo-wrapper
        .logo
          a(href=".")
            span.a Entertain
            span.b IO
      navigation.navigation
        ul
          li
            a.active Overview
            a.disabled Tech
            a.disabled Science
            a.disabled Gaming
            a.disabled Fashion
            a.disabled Viral
            a.disabled Lifestyle
            a.disabled Music
            a.disabled Art
            a.disabled Sport
    .main
      .container
        .content(ui-view="")
    .footer
      strong BETA VERSION
      ul
        li.github
          a(href="https://github.com/michaelzoidl/entertain.io", target="_blank")
            span Github
            img(src="/images/github.png")
  script(type='text/javascript', src='scripts/app.js')
  script(type='text/javascript').
    window.$ = window.jQuery = require('jquery');
    require('angularjs');
    require('entertain.io-app/src/ui/app');


