html(ng-app="entertain.io.app")
head
  meta(charset="UTF-8")
  title entertain.io

  link(href='styles/vendor.css', rel='stylesheet')
  link(href='styles/app.css', rel='stylesheet')
  script(type="text/javascript" src='scripts/commonjs-require.js')
  script(type='text/javascript', src='scripts/socket.io.js')
  script(type="text/javascript" src='scripts/vendor.js')
body
  .app
    header.header
      .logo-wrapper
        .logo
          span.a Entertain
          span.b IO
      navigation.navigation
        ul
          li
            a.active Overview
            a.disabled Tech
            a.disabled Sience
            a.disabled Music
            a.disabled TV Shows
    .main
      .content(ui-view="")
    .footer
      span
        | This is a 
        strong EntwicklerStube.com
        |  project
      ul
        li
          a(href="") Team
        li
          a(href="") Impress
        li
          a(href="") Thanks
        li
          a(href="") Became a moderator
  script(type='text/javascript', src='scripts/app.js')
  script(type='text/javascript').
    window.$ = window.jQuery = require('jquery');
    require('angularjs');
    require('entertain.io-app/src/ui/app');


