@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;


.main {
  flex: 1;
  overflow: auto;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

.footer {
  border: 1px solid #dadada;
  background: #e6e6e6;
  height: 35px;
  padding-top: 7px;
  padding-left: 10px;
  overflow: hidden;
  .github {
    img {
      height: 20px;
      margin-left: 10px;
    }
    span {
      // margin-left: 10px;
    }
  }
  ul {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    li {
      list-style-type: none;
      float: left;
      margin: 0 5px;
      a {
        font-family: Open Sans;
        text-transform: uppercase;
        font-size: 12px;
        color: #333;
        padding: 10px 10px;
        &:hover {
          text-decoration: none;
          background-color: #dadada;
          padding: 10px 10px;
        }
      }
    }
  }
}
  header {
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: #212121;
    display: block;

    .logo {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .logo-wrapper {
      width: 970px;
      margin: auto;
    }

    .navigation {
      float: left;
      margin-left: 15px;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          a {
            color: #fff;
            font-family: Open Sans;
            font-weight: 500;
            text-transform: uppercase;
            height: 36px;
            min-width: 30px;
            margin-top: 16px;
            display: block;
            float: left;
            margin-right: 20px;
            cursor: pointer;
            transition: all .3s ease;
            border-bottom: 2px solid #00b9ee;
            &.disabled {
              cursor: not-allowed;
            }
            &:hover {
              text-decoration: none;
              height: 34px;
            }
            &.active {
              height: 34px;
            }
          }
        }
      }
    }

    .logo {
      // float: right;
      float: left;
      margin-right: 20px;
      margin-top: 9px;
      span {
        font-family: Open Sans;
        font-size: 24px;
        &.a {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
        }
        &.b {
          color: #00b9ee;
          text-transform: uppercase;
          font-weight: 200;
        }
      }
    }
  }
}