.feed-manager-ctrl(ng-controller="FeedManagerCtrl")
  h1 Feed Manager

  strong List of all Feeds
  ul
    li(ng-repeat="(feedKey, feed) in feedSources track by $index")
      span
        | name
        input(type="input", ng-model="feed.name", ng-change="updateFeed($index)")
      span
        | url
        input(type="input", ng-model="feed.url", ng-change="updateFeed($index)")
    button(ng-click="createFeed()") +
  button(ng-click="removeFeeds()") Clear All