.entry(ng-controller="EntryCtrl")
  button(ng-click="yeah()") Yeah
  ul.entries
    li(ng-repeat="entry in entries", style="background-image: url({{entry.images.normal}});")
      .gradient
      span {{entry.caption}}