.entry-ctrl(ng-controller="EntryCtrl")
  .entries
    div.entry-wrapper(ng-repeat="entry in entries")
      .entry(style="background-image: url({{entry.image}});")
        .extra
        .gradient
        .meta
          span.caption {{entry.title}}
          span.description(ng-bind="entry.description | unsafe")
          .time
            span
              | By 
              a(href="http://wired.com") WIRED 
              |, Author: {{entry.author}}
            a(href="{{entry.link}}") more...