.entry-ctrl(ng-controller="EntryCtrl")
  .entries
    div.entry-wrapper(ng-repeat="entry in entries")
      .entry(style="background-image: url({{entry.image}});")
        .extra
        .gradient
        .meta
          span.caption {{entry.caption}}
          span.description {{entry.description}}
          span.time 3 hours ago by t3n magazine