.entry {
  ul.entries {
    height: calc(100vh - 54px);
    margin: 0;
    padding: 0;
    li {
      float: left;
      display: block;
      background-size: cover;
      border: 1px solid #eee;
      margin: 5px;
      transition: all .3s ease;
      position: relative;

      .gradient {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: -webkit-gradient(
          linear, left top, left bottom, from(rgba(0,0,0,0)),
          to(rgba(0,0,0,1)), color-stop(.4,rgba(0,0,0,.3))
        );
      }

      span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: white;
        text-shadow: 0 0 5px #000;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

ul.entries li {-webkit-animation-duration:.3s;-moz-animation-duration:.3s;-o-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}

@media only screen and (min-width: 1280px) {
  ul.entries li {
    width: calc((100vw / 5) - 1.2rem) !important;
    height: calc(((100vw / 5) - 1.2rem) * .833) !important;
  }
}

@media only screen and (max-width: 1130px) and (min-width: 1024px) {
  ul.entries li {
    width: calc((100vw / 4) - 1.2rem) !important;
    height: calc(((100vw / 4) - 1.2rem) * .833) !important;
  }
}
@media only screen and (max-width: 1279px) and (min-width: 1131px) {
  ul.entries li {
    width: calc((100vw / 4) - 1.2rem) !important;
    height: calc(((100vw / 4) - 1.2rem) * .833) !important;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 700px) {
  ul.entries li {
    width: calc((100vw / 3) - 1.2rem) !important;
    height: calc(((100vw / 3) - 1.2rem) * .833) !important;
  }
}

@media only screen and (max-width: 699px) and (min-width: 480px) {
  ul.entries li {
    width: calc((100vw / 2) - 1.2rem) !important;
    height: calc(((100vw / 2) - 1.2rem) * .833) !important;
  }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
  ul.entries li {
    width: calc((100vw / 1) - 1.2rem) !important;
    height: calc(((100vw / 1) - 1.2rem) * .833) !important;
  }
}