.feed-ctrl(ng-controller="FeedCtrl")
  ul.feeds
    li.feed(ng-repeat="feed in feeds")
      a(href="{{feed.link}}", target="_blank")
        .source
          .wrapper
            span via
            strong  WIRED
        .cover
          img(src="{{feed.image}}")
        .content
          .wrapper
            .title {{feed.title}}
            .description {{feed.description | limitTo: 200}}
