.feed-ctrl {
  ul.feeds {
    margin: 0;
    padding: 0;
    li.feed {
      list-style-type: none;
      width: 600px;
      margin: 25px auto;

      a {
        color: black;
        text-decoration: none;
        &:hover, :focus, :active {
          text-decoration: none;
          color: black;
        }
      }

      .cover {
        img {
          width: 100%;
        }
      }

      .content {
        background: white;
        min-height: 50px;

        .wrapper {
          margin: 20px;
        }
      }

      .title {
        font-weight: 700;
        font-size: 18px;
        display: block;
      }

      .source {
        height: 50px;
        background: white;
        position: relative;
        .wrapper {
          position: absolute;
          top: 15px;
          left: 15px;
        }
        strong {
          color: #00b9ee;
        }
      }

      .title, .description {
        margin: 10px 0;
      }
    }
  }
}