.feed-ctrl {
  margin: auto;
  // width: 970px;
  position: relative;
  .feeds {
    float: left;
    width: 635px;
  }
  .feed-wrapper {
    float: left;

    .feed {
      width: 600px;
      height: 375px;
      display: flex;
      flex-direction: column;
      transition: all .1s ease;
      // border: 1px solid #dadada;
      background: #fff;
      // box-shadow: 0px 0px 3px #ddd;
      border-bottom: 2px solid #efefef;
      margin: 15px;
      background-size: cover;
      background-position: center;
      .extra {
        flex: 1;
        flex-wrap: wrap;
      }
      .gradient {
        flex: 1;
        flex-wrap: wrap;
          // background-image: -webkit-gradient(
          //   linear, left top, left bottom, from(rgba(0,0,0,0)),
          //   to(#fff), color-stop(.0,rgba(0,0,0,0))
          // );
        max-height: 100px;
      }
      .meta {
        flex: 1;
        height: 125px;
        background: #fff;
        .description {
          margin-left: 15px;
          display: block;
          font-family: Lucida Grande;
          font-size: 12px;
          color: #999;
          margin-top: 5px;
          margin-bottom: 5px;
          width: 95%;
          line-height: 18px;
          color: #888;
        }
        .caption {
          font-family: Open Sans;
          color: #202020;
          font-weight: 700;
          font-size: 18px;
          margin-left: 15px;
          margin-top: 15px;
          display: block;
          width: 95%;
        }
        .time {
          font-family: Open Sans;
          font-size: 10px;
          color: #333;
          font-weight: 600;
          text-transform: uppercase;
          margin-left: 15px;
          margin-top: 10px;
          display: block;
        }
      }
    }
  }
}